@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=PT+Sans:ital@1&family=Roboto&display=swap");
body {
  background-color: #c2c2f0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 380px;
  height: 380px;
  border-radius: 10px;
  box-shadow: 0 -5px 4px -3px black, 0 5px 3px -3px black;
  font-size: 40px;
  margin: 0 auto;
  margin-top: 100px;
}
#clock{
  margin-top: 40px;
}
#day{
  z-index: 1;
  margin-top: 100px;
}
.clock1 button {
  color: black;
  background: transparent;
  border: none;
  border-radius: 8px;
  padding: 8px 14px;
  font-size: 16px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}
.clock1 button:hover {
  /* color: white; */
  box-shadow: 0px 15px 20px rgba(173, 173, 235, 0.4);
  transform: translateY(-7px);
}
.main p {
  font-size: 30px;
}
.wrapper button {
  position: relative;
  bottom: 20px;
}
